@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300&display=swap');

.wholebody {
  background: linear-gradient(45deg, #e66465, #9198e5);
  background-attachment: fixed;
  font-family: 'BioRhyme';
  display: flexbox;
  justify-content: center;
}

h1 {
  text-align: center;
}
.open-modal {
  background-color: lightsteelblue;
  border-radius: 12px;
}

h2 {
  text-align: center;
}
.user-input-box {
  text-align: center;
}

.modal {
  background-color: #9198e5;
  border-radius: 7px;
  padding: 18px;
  border-width: 4px;
  backdrop-filter: blur(20px);
}

.close-button {
  size: 6px;
  border-radius: 12px;
  background-color: slategrey;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.user {
  width: 10rem;
}

.supreme {
  height: auto;
  width: 10rem;
  transform: rotate(30deg);
  position: absolute;
  top: 20rem;
  left: 30rem;
}

.palace {
  height: auto;
  width: 8rem;
  transform: rotate(-30deg);
  position: absolute;
  top: 20rem;
  left: 60rem;
}

.stone {
  height: auto;
  width: 8rem;
  transform: rotate(30deg);
  position: absolute;
  top: 30rem;
  left: 10rem;
}

@media screen and (max-width: 415px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
    font-style: italic;
  }

  .supreme {
    position: absolute;
    left: 3rem;
    top: 18rem;
    width: 8rem;
  }
  .stone {
    position: absolute;
    width: 6rem;
    left: 14rem;
    top: 23rem;
  }
  .palace {
    position: absolute;
    top: 28rem;
    left: 3rem;
  }
  .modal {
    width: 16rem;
  }
}
